<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- So number of beans will be here, objects of each bean will be created when we run the app !-->
    <!-- and by default its scope is scope = "singleton, also when scope is prototype the object will
     only be created when we type getBean(), In singleton scope, object will be created no matter what
     when creating the container by default" !-->

    <!-- <bean id="alien1" class="com.telusko.Alien" scope="prototype"> </bean !-->

<!--    <bean id="alien1" class="com.telusko.Alien">-->

<!--    So this autowire wires the object with reference using name-->
<!--    <bean id="alien1" class="com.telusko.Alien" autowire="byName">-->

    <bean id="alien1" class="com.telusko.Alien" autowire="byType">

        <!-- AutoWiring video from here -->
<!--        So if you don't want to mention the property explicitly and want spring framework to search for the dependency
based on the type or name then we use autowiring -->
        <property name="age" value="21"/>

        <!-- If we explicitly mention the ref then it will reference to laptop -->
<!--        <property name="com" ref="com1"/>-->

<!--        Inner Bean implementation-->

<!--        So this is inner bean -->
        <property name="com">
            <bean id="com1" class="com.telusko.Laptop" primary="true">
            </bean>
        </property>



       <!-- <property name="age" value="21"/> --> <!-- This line assigns the value when object is created, this is
         setter injection, This creates an object set the value to setter and then call the setter method
          and getter method to get the value !-->

        <!-- To inject the value or to wire the Laptop object with Alien we need to give the same value as bean id in
        ref of this property so first we create a bean for the laptop then we give the same value as id to ref
        -> for primitive values we use value, for reference we use ref, but first we need a bean else it will not work !-->


    <!-- It assigns the value according to sequence by default, To solve this mention the type here, but this works
     if the types are different for all the objects, if type is same we can specify INDEX NUMBER-->
<!--        <constructor-arg type="int" value="21"/>-->
<!--        <constructor-arg type="com.telusko.Laptop" ref="lap1"/>-->

<!-- Index number is also to specify the sequence according to constructor so now we can have 2 same variables as we
are specifying the indexes here-->
<!--        <constructor-arg index="0" value="21"/>-->
<!--        <constructor-arg index="1" ref="lap1"/>-->

<!-- This also requires the correct sequence so indexing is ideal way to do this as no sequence is required so name
is for reference directly -->
<!--        <constructor-arg name="age" value="21"/>-->
<!--        <constructor-arg name="lap" ref="lap1"/>-->


        <!--    <property name="lap" ref="lap1"/>  !--> <!-- This id here inside the name separates the objects !-->
    </bean>

<!--    To solve the problem of confusion we use primary tag so it tells that whatever is primary use this one means
 create object for this one -->
<!--    <bean id="com1" class="com.telusko.Laptop" primary="true">-->
<!--    </bean>-->

    <bean id="com2" class="com.telusko.Desktop" lazy-init="true">
    </bean>

</beans>